nav{
    height: 75px;
    width: 100%;
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(241, 224, 224);
    padding: 8px 16px;
    position: fixed;
    bottom: 662.2px;
    z-index: 1030;
    transition: all 0.3s ease 0s;
    box-sizing: border-box;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    height: 50px;
    width: 251px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.img{
 height: 50px;
 width: 50px;  

}
.box1{
    height: 25.8px;
    width: 187px;
   
}
#a1{
    text-decoration: none;
    font-family: 'MuseoModerno', cursive;
    color: black;
    font-weight: 700;
    text-align: left;
    font-size: 25.6px;
    vertical-align: -4px;
    line-height: 25.577px;
    
}

.content{
    height: 58px;
    width: 1171px;
  
    min-width: auto;
    min-height: auto;
    display: flex;
    align-items: center;
   justify-content: space-between;
    
}
.list{
    height: 50px;
    width: 700px;
   
    
}

ol{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

li{
    height: 35px;
    width: 108px;
   
    position: relative;
    top: 6px;
}

.list>ol>li>a{
text-decoration: none;
font-family: 'Jost', sans-serif;
font-family: 'MuseoModerno', cursive;
font-size: 20.8px;
font-weight: 500;
line-height: 31.2px;

color: #33358c;
text-align: left;



}

.icon{
    height: 50px;
    width: 148px;
  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon1{
    height: 24px;
    width: 170px;
    
    font-family: 'Jost';
    font-size: 0;
    line-height: 0;
    text-decoration: none solid rgb(51,51,51);
    text-align: center;
    background-color: #ffffff;
    background-position: 0% 0%;
    color: #333333;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
   
    box-sizing: border-box;
    word-wrap: break-word;

  
}

.icon1>a{
    font-family: 'Jost', sans-serif;
    
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none solid rgb(51,51,51);
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    color: #333333;
    height: auto;
    width: auto;
    border: 2px solid #333333;
    margin: 6px;
    padding: 10px 19px ;
    
    display: inline;
    z-index: 1;
    cursor: pointer;
    transform: none;
    transition: all 0.3s ease-in-out 0s;
    box-sizing: border-box;
    word-wrap: break-word;
    border-radius: 100px;

    background-color: #72dfe9;

}




.s1,.s2{
    height: 35.2px;
    width: 35.2px;
    border: 1px solid black;

    
}
.head2{
    background-color: #F8F8F8;
    background-position: 50% 50%;
    height: 855px;
    width: 100%;
    padding: 208px 0px 128px 0px;
    display: block;
    box-sizing: border-box;
}

    

